<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-5 col-md-8 col-lg-4">
      <h2>請輸入支出</h2>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10 col-md-8 col-lg-6">

      <form action="/records/{{record._id}}?_method=PUT" method="POST">
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">名稱</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" minlength="2" maxlength="25" required
              value="{{record.name}}">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="date" class="col-sm-2 col-form-label">日期</label>
          <div class="col-sm-10">
            <input type="date" id="date" name="date" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
              title="請輸入西元年-月-日 ex: 2021-05-20" required value="{{record.date}}">
          </div>
        </div>

        <div class="form-group">
          <label for="category">類別</label>
          <select class="form-control" name="category" id="category" required>
            <option disabled selected value="">請選擇類別</option>
            <option value="家居物業" {{#if (isEqual record.categoryId.name "家居物業" )}}selected{{/if}}>家居物業</option>
            <option value="交通出行" {{#if (isEqual record.categoryId.name "交通出行" )}}selected{{/if}}>交通出行</option>
            <option value="休閒娛樂" {{#if (isEqual record.categoryId.name "休閒娛樂" )}}selected{{/if}}>休閒娛樂</option>
            <option value="餐飲食品" {{#if (isEqual record.categoryId.name "餐飲食品" )}}selected{{/if}}>餐飲食品</option>
            <option value="其他" {{#if (isEqual record.categoryId.name "其他" )}}selected{{/if}}>其他</option>
          </select>
        </div>

        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">金額</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="amount" name="amount" min="1" max="100000000" required
              value="{{record.amount}}">
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <a href="/" class="btn btn-secondary me-2">返回</a>
          <button type="submit" class="btn btn-primary">確認修改</button>
        </div>

      </form>
    </div>
  </div>
</div>