<div class="col-md-6 m-auto">
  <div class="card card-body">
    <h1 class="text-center mt-1">註冊</h1>
    {{> message}}
    <form action="/users/register" method="POST">
      <div class="form-group">
        <label for="name">Name*</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" value="{{name}}"
          required>
      </div>
      <div class="form-group">
        <label for="email">Email*</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" value="{{email}}"
          required>
      </div>
      <div class="form-group">
        <label for="password">Password*</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password"
          value="{{password}}" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password*</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
          placeholder="Enter Password Again" value="{{confirmPassword}}" required>
      </div>
      <button type="submit" class="btn btn-outline-dark btn-block">註冊</button>
      <a href="/auth/facebook" class="btn btn-outline-dark btn-block">使用臉書註冊</a>
    </form>
    <p class="lead mt-2">
      找飯店？Trivago <a href="/users/login">登入</a>
    </p>
  </div>
</div>